@font-face {
    font-family: 'Sen';
    src: url('./../fonts/sen/Sen-Regular.eot');
    src: url('./../fonts/sen/Sen-Regular.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/sen/Sen-Regular.woff2') format('woff2'),
    url('./../fonts/sen/Sen-Regular.woff') format('woff'),
    url('./../fonts/sen/Sen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sen';
    src: url('./../fonts/sen/Sen-Medium.eot');
    src: url('./../fonts/sen/Sen-Medium.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/sen/Sen-Medium.woff2') format('woff2'),
    url('./../fonts/sen/Sen-Medium.woff') format('woff'),
    url('./../fonts/sen/Sen-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sen';
    src: url('../fonts/sen/Sen-ExtraBold.eot');
    src: url('./../fonts/sen/Sen-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/sen/Sen-ExtraBold.woff2') format('woff2'),
    url('./../fonts/sen/Sen-ExtraBold.woff') format('woff'),
    url('./../fonts/sen/Sen-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sen';
    src: url('./../fonts/sen/Sen-SemiBold.eot');
    src: url('./../fonts/sen/Sen-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/sen/Sen-SemiBold.woff2') format('woff2'),
    url('./../fonts/sen/Sen-SemiBold.woff') format('woff'),
    url('./../fonts/sen/Sen-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sen';
    src: url('./../fonts/sen/Sen-Bold.eot');
    src: url('./../fonts/sen/Sen-Bold.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/sen/Sen-Bold.woff2') format('woff2'),
    url('./../fonts/sen/Sen-Bold.woff') format('woff'),
    url('./../fonts/sen/Sen-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
