:root {
    --primary-black-color: #232536;
    --primary-white: #ffffff;
    --secondary-gray-color: #6D6E76;
    --dark-grey-color: #4c4c4c;
    --medium-grey-color: #6d6e76;
    --light-grey-color: #f4f4f4;
    --purple-color: #592EA9;
    --light-purpule-color: #F4F0F8;
    --purple-light-hover: #c7bfd2;
    --hover-link-purpule-light: #cab8ec;
    --yellow-color: #ffd050;
    --yellov-hover: #d3ac43;
    --light-yellow-color:#FBF6EA;
    --banner-gradient: radial-gradient(80.99% 71.93% at 74.58% 0%, rgba(0, 0, 0, 0) 0%, #04040482 100%);


    --main-font: 'Sen', sans-serif;

    --font-sm: 14px;
    --font-md: 16px;
    --font-xl: 24px;
    --font-xxl: 36px;

    --fontWeidth-sm: 500;
    --fontWeidth-md: 600;
    --fontWeidth-xl: 700;

    --lineHeight-sm: 1.25;
    --lineHeight-md: 1.33;
    --lineHeight-xl: 1.75;

    --mb-small: 8px;
    --mb-lardge: 16px;

    --content-widht: 1280px;
}
body {
    font-family: var(--main-font);
    font-size: var(--font-md);
    font-weight: normal;
    font-style: normal;
}

.container {
    max-width: var(--content-widht);
    margin: 0 auto;
    padding: 0 15px ;
}

a {
    font-size: var(--font-md);
    text-decoration: none;
    display: inline-block;
    color: var(--primary-white);
}
.btn {
    cursor: pointer;
    padding: 16px 48px;
    font-size: 18px;
    font-weight: var(--fontWeidth-xl);
    background: transparent;
    border: 1px solid transparent;
}
.primary-btn {
    background: var(--yellow-color);
    transition: background 0.3s linear;
}
.primary-btn:hover {
    background: var(--yellov-hover);
}
.arrow-prev {
    background-color: var( --primary-white);
}
.arrow-next {
    background-color: var(--primary-black-color);
}

/* ACCENT */
.accent-yellow {
    color: var(--yellow-color);
}
.accent-purple {
    color: var(--purple-color)
}
.bg-accent-light-yellow {
    background-color: var(--light-yellow-color);
}
.bg-medium-gray {
    background-color: var(--light-grey-color);
}
.bg-accent-yellow {
    background-color: var(--yellow-color);
}

/*BORDER  */
.border-sm {
    border-right: 1px solid var(--dark-grey-color);
}

/*  HEADER  */
.header {
    background-color: var(--primary-black-color);
    padding: 25px 0;
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__content {
    display: flex;
    align-items: center;
    gap: 32px;
}
.nav__menu {
    display: flex;
    gap: 24px;
    line-height: var(--lineHeight-xl);
}
.nav__link {
    transition: color 0.3s ease;
}
.nav__link:hover {
    color: var(--hover-link-purpule-light);
}
.header__btn {
    background: var( --primary-white);
    transition: all 0.3s linear;
}
.header__btn:hover {
    background: var(--purple-light-hover);
    border-color: var(--purple-light-hover);
}

/*  STARTUP  */
.startup {
    background-image:
    var(--banner-gradient),
    url("./../assets/images/man-in-black-suit-wearing-eye-glasses.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 192px 80px;
}
.startup__content {
    max-width: 804px;
    color: var(--primary-white);
}
.startup__subtitle {
    font-weight: var(--fontWeidth-sm);
    text-transform: uppercase;
    line-height: var(--lineHeight-sm);
    letter-spacing: 0.19em;
    margin-bottom: 24px;
}
.startup__title {
    font-weight: var(--fontWeidth-xl);
    font-size: 56px;
    line-height: 1.15;
    letter-spacing: -0.04em;
    margin-bottom: 24px;
}
.startup__date {
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
}
.startup__speaker {
    padding-right: 10px;
    border-right: 1px solid var(--primary-white);
}
.startup__description {
    margin-bottom: 48px;
    line-height: var(--lineHeight-xl);
}

/* POSTS  */
.posts {
    margin-top: 128px;
}
.posts__wrapper {
    display: flex;
    gap: 32px;
    color: var(--primary-black-color);
}
.posts__featured {
    flex: 1 1 50%;
}
.posts__featured-title {
    font-weight: var(--fontWeidth-xl);
    font-size: var(--font-xxl);
    line-height: var(--lineHeight-md);
    letter-spacing: -0.06em;
    margin-bottom: 32px;
}
.posts__featured-publication {
    max-width: 733px;
    padding: 32px;
    border: 1px solid var(--secondary-gray-color);
}
.posts__img {
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 32px;
}
.posts__author {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--dark-grey-color);
    margin-bottom: 16px;
    font-weight: var(--fontWeidth-sm);
}
.posts__name {
    padding-right: 10px;
    border-right: 1px solid var(--secondary-gray-color);
}
.posts__subtitle {
    font-weight: var(--fontWeidth-xl);
    font-size: 28px;
    line-height: 1.43;
    letter-spacing: -0.04em;
    margin-bottom: 16px;
}
.posts__description {
    line-height: var(--lineHeight-xl);
    color: var(--secondary-gray-color);
    margin-bottom: 32px;
}
.posts__menu {
    flex: 1 1 50%;
}
.posts__menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
.posts__menu-title {
    font-weight: var(--fontWeidth-xl);
    font-size: var(--font-xxl);
    line-height: var(--lineHeight-md);
    letter-spacing: -0.06em;
}
.posts__menu-link {
    line-height: var(--lineHeight-xl);
    color: var(--purple-color);
    padding: 5px 10px;
    border-radius: 20px;
    transition: all 0.3s linear;
}
.posts__menu-link:hover {
    background-color: var(--light-grey-color);
    border-radius: 20px;
}
.card {
    padding: 32px 32px 25px;
}
.card__author {
    font-weight: var(--fontWeidth-sm);
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}
.card__name {
    padding-right: 10px;
}
.card__title {
    font-weight: var(--fontWeidth-xl);
    font-size: var(--font-xl);
    line-height: var(--lineHeight-md);
    max-width: 369px;
}

/* ABOUT US */
.aboutAs {
    margin-top: 128px;
    color: var(--primary-black-color);
}
.aboutAs__img {
    position: absolute;
    top: -20px;
    right: 0;
    bottom: 0;
}
.aboutAs__wrapper {
    background-color: var(--light-purpule-color);
    padding: 96px 80px;
}
.aboutAs__body {
    position: relative;
    display: flex;
    gap: 60px;
}
.aboutAs__info {
    flex: 1 1 50%;
}
.aboutAs__subtitle {
    text-transform: uppercase;
    font-weight: var(--fontWeidth-md);
    line-height: var(--lineHeight-sm);
    letter-spacing: 0.19em;
    margin-bottom: 24px;
}
.aboutAs__title {
    font-weight: var(--fontWeidth-xl);
    font-size: var(--font-xxl);
    line-height: var(--lineHeight-md);
    letter-spacing: -0.06em;
    max-width: 494px;
    margin-bottom: 16px;
}
.aboutAs__description {
    line-height: var(--lineHeight-xl);
    color: var(--dark-grey-color);
    margin-bottom: 16px;
}
.aboutAs__link {
    font-weight: var(--fontWeidth-xl);
    font-size: 18px;
    line-height: var(--lineHeight-xl);
    color: var(--purple-color);
    padding: 5px 10px;
    border-radius: 20px;
    transition: all 0.3s linear;
}
.aboutAs__link:hover {
    background-color: var(--primary-white);
    border-radius: 20px;
}
.aboutAs__mission {
    flex: 1 1 50%;
}

/* CATEGORIES  */
.categories {
    margin-top: 128px;
    color: var(--primary-black-color);
}
.categories__title {
    text-align: center;
    font-weight: var(--fontWeidth-xl);
    font-size: var(--font-xxl);
    line-height: var(--lineHeight-md);
    letter-spacing: -0.06em;
    margin-bottom: 48px;
}
.categories__content {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.category__card {
    padding: 32px;
    border: 1px solid var(--secondary-gray-color);
}
.category-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    width: 48px;
    height: 48px;
    border-radius: 15px;
    background-color: var(--light-yellow-color);
}

.category__subtitle {
    font-weight: var(--fontWeidth-xl);
    font-size: 28px;
    line-height: 1.43;
    letter-spacing: -0.04em;
    margin-bottom: 4px;
}
.category__info {
    color: var(--secondary-gray-color);
    line-height: var(--lineHeight-xl);
}

/* STORY  */
.story {
    margin-top: 128px;
}
.story__wrapper {
    position: relative;
}
.story__content {
    max-width: 706px;
    padding: 80px;
    background-color: var(--primary-white);
    position: absolute;
    right: 0;
    bottom: 0;
}
.story__subtitle {
    font-weight: var(--fontWeidth-md);
    line-height: var(--lineHeight-sm);
    letter-spacing: 0.19em;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.story__title {
    max-width: 548px;
    font-weight: var(--fontWeidth-xl);
    font-size: 48px;
    line-height: var(--lineHeight-md);
    letter-spacing: -0.04em;
    margin-bottom: 16px;
}
.story__description {
    max-width: 548px;
    line-height: var(--lineHeight-xl);
    color: var(--dark-grey-color);
    margin-bottom: 32px;
}

/* AUTHORS  */
.authors {
    margin-top: 128px;
}
.authors__title {
    font-weight: var(--fontWeidth-xl);
    font-size: var(--font-xxl);
    line-height: var(--lineHeight-md);
    letter-spacing: -0.06em;
    text-align: center;
    margin-bottom: 48px;
}
.authors__list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.author {
    padding: 40px 50px;
}
.author__photo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
}
.author__about {
    margin-bottom: 20px;
}
.author__title {
    font-weight: var(--fontWeidth-xl);
    font-size: 28px;
    line-height: 1.43;
    letter-spacing: -0.04em;
    text-align: center;
}
.author__info {
    font-size: var(--font-sm);
    line-height: 1.43;
    text-align: center;
    color: var(--dark-grey-color);
}
.author__social-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.icon-author {
    width: 16px;
    height: 16px;
    fill: var(--primary-black-color);
    transition: transform 0.3s ease;
}
.icon-author:hover {
    transform: scale(1.3);
}

/* PARTNERS */
.partners{
    margin-top: 128px;
}
.partners__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-gray-color);
    font-weight: var(--fontWeidth-xl);
    font-size: var(--font-xl);
    line-height: var(--lineHeight-md);
}
.partners__link {
    color: var(--secondary-gray-color);
    font-weight: var(--fontWeidth-xl);
    font-size: var(--font-xl);
    line-height: var(--lineHeight-md);
    display: flex;
    align-items: center;
    gap: 10px;
}

/* FEEDBACK */
.feedback {
    margin-top: 128px;
}
.feedback__wrapper {
    background-color: var(--light-yellow-color);
    padding: 92px 112px 75px;
}
.feedback__body {
    display: flex;
    justify-content: space-between;
}
.feedback__intro {
    max-width: 350px;
}
.feedback__label {
    font-weight: var(--fontWeidth-md);
    line-height: var(--lineHeight-sm);
    letter-spacing: 0.19em;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.feedback__title {
    font-weight: var(--fontWeidth-xl);
    font-size: var(--font-xxl);
    line-height: var(--lineHeight-md);
    letter-spacing: -0.06em;
    margin-bottom: 16px;
}
.feedback__description {
    line-height: var(--lineHeight-xl);
}
.feedback__content {
    padding-left: 80px;
    border-left: 1px solid var(--secondary-gray-color);
}
.feedback__quote {
    max-width: 470px;
    font-weight: var(--fontWeidth-xl);
    font-size: var(--font-xl);
    line-height: var(--lineHeight-md);
    margin-bottom: 121px;
}
.feedback__author {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feedback__author-info{
    display: flex;
    align-items: center;
    gap: 12px;
}
.feedback__author-description {
    font-weight: var(--fontWeidth-xl);
    font-size: var(--font-xl);
    line-height: var(--lineHeight-md);
}
.feedback__address {
    font-weight: 400;
    font-size: var(--font-md);
    line-height: var(--lineHeight-xl);
    color: var(--secondary-gray-color);
}
.feedback__controls {
    display: flex;
    align-items: center;
    gap: 24px;
}
.feedback__arrow {
    border: none;
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}
.feedback__arrow:hover {
    transform: scale(1.3);
}

/* JOIN */
.join {
    margin-top: 128px;
}
.join__content {
    max-width: 414px;
    text-align: center;
    margin: 0 auto;
}
.join__title {
    font-weight: var(--fontWeidth-xl);
    font-size: var(--font-xxl);
    line-height: var(--lineHeight-md);
    letter-spacing: -0.06em;
    margin-bottom: 16px;
}
.join__description {
    line-height: var(--lineHeight-xl);
    color: var(--secondary-gray-color);
    margin-bottom: 32px;
}

/*  FOOTER */
.footer {
    padding: 59px 80px;
    margin-top: 128px;
    background-color: var(--primary-black-color);
}
.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__subscribe {
    margin-top: 56px;
    padding: 80px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    background-color: #363847;
}
.footer__subscribe-title {
    max-width: 562px;
    font-weight: var(--fontWeidth-xl);
    font-size: var(--font-xxl);
    color: var(--primary-white);
    line-height: var(--lineHeight-md);
    letter-spacing: -0.06em;
}
.footer__form {
    display: flex;
    align-items: center;
    gap: 24px;
}
.footer__input {
    width: 323px;
    height: 50px;
    background-color: #363847;
    border: 1px solid var(--secondary-gray-color);
}

.footer__input::placeholder {
    padding-left: 10px;
}
.footer_bottom {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__address,
.footer__address-phone,
.footer__address-email {
    color: var(--secondary-gray-color);
    line-height: var(--lineHeight-xl);
}
.footer__socials-list {
    display: flex;
    align-items: center;
    gap: 26px;
}
.icon {
    fill: var(--secondary-gray-color);
    width: 16px;
    height: 16px;
    transition: fill 0.3s ease;
}
.icon:hover {
    fill: #d3d0d7;
}
